# Node.JS dependencies
node_modules
# ESLint cache
.eslintcache
# PHP dependencies
vendor
# Duplicate minified version of Mustache templates made due to an upstream bug
templates/minified/minified/
# ESLint cache
.eslintcache
