<main id="content" class="mw-body">
      <div class="mw-topboxes">
        <div class="mw-topbox" id="siteSub"><i>{{msg-tagline}}</i></div>
           {{{html-user-message}}}
         <div class="mw-topbox" id="siteNotice">{{{html-site-notice}}}</div>
      </div>
    <div id="contentSub" {{{html-user-language-attributes}}}>{{{html-subtitle}}}</div>
      <div id="contentSub"><span class="subpages">{{{html-undelete-link}}}</span></div>
        {{{html-body-content}}}
      <div class='mw-clear'></div>
        {{{html-categories}}}{{{html-after-content}}}
     </div>
</main>
