<div id="footer">
    <div class="links pure-g">
        <div class="pure-u-1-5">
            <p><h4 localizable>About</h4></p>
            {{#data-places}}
            {{#array-items}}
	            <li id="{{id}}">{{{html}}}</li>
            {{/array-items}}
            {{/data-places}}
        </div>
        <div class="pure-u-1-5">
            <p><h4 localizable>Learning</h4></p>

        </div>
        <div class="pure-u-1-5">
            <p><h4 localizable>Tools</h4></p>

        </div>
        <div class="pure-u-1-5">
            <p><h4 localizable>Support</h4></p>

        </div>
        <div class="pure-u-1-5">
            <p><h4 localizable>Legal</h4></p>

        </div>
    </div>
</div>
