<div id="footer" class="mw-footer">
    <div class="links pure-g">
        <div class="pure-u-1-5">
            {{#data-places}}
            {{#array-items}}
	<p id="{{id}}">{{{html}}}</p>
{{/array-items}}

	            <p id="{{id}}" class="{{class}}">{{{html}}}</p>
            {{/array-items}}
            {{/data-places}}
            {{#data-info}}
            {{/data-info}}
        </div>
    </div>
</div>
