<div id="footer" class="mw-footer">
    <div class="links pure-g">
        <ul class="pure-u-1-5">
            {{#data-places}}
            {{#array-items}}
	            <li id="{{id}}">{{{html}}}</li>
            {{/array-items}}
            {{/data-places}}
            {{#data-info}}
            {{/data-info}}
        </ul>
    </div>
</div>
