<nav id="top-bar">
    <div class="pure-menu-horizontal pure-menu">
        <ul class="pure-g pure-menu-list">
            <a class="pure-u-1-12" href="https://snap.berkeley.edu" aria-label="Snap! home page"><img src="https://static.miraheze.org/snapwikiwiki/d/dd/Topbar-logo.png" class="logo clickable" /></a>
            <span class="pure-u-5-12">
                <li class="pure-menu-item">
                    <a localizable="" class="pure-menu-link run" target="_blank" href="https://snap.berkeley.edu/snap/snap.html">Run Snap<em>!</em></a>
                </li>
                <li class="pure-menu-item"><a localizable="" class="pure-menu-link explore" href="https://snap.berkeley.edu/explore">Explore</a></li>
                <li class="pure-menu-item"><a localizable="" class="pure-menu-link forum" href="https://forum.snap.berkeley.edu/">Forum</a></li>
                <!--   =======   Snap!Con   =======<li class="pure-menu-item"><a localizable class="pure-menu-link" target="_blank"href="https://www.snapcon.org">Snap<em>!</em>Con</a></li>-->
            </span>
	    <li class="pure-menu-item pure-u-1-6
                pure-menu-has-children pure-menu-allow-hover user-menu">
                <ul class="pure-menu-children">
            {{#data-portlets.data-personal}}
            <li class="pure-menu-item"> {{{html-items}}}</li>
            {{/data-portlets.data-personal}}

</ul>
            </li>
            {{#data-search-box}}
			<!--<div id="p-search" class="search" role="search">
				<h3><label for="searchInput">{{msg-search}}</label></h3>
				<div id="searchBody" class="pBody">
					<form action="{{form-action}}" id="searchform">
						<input type="hidden" name="title" value="{{page-title}}">
						{{{html-input}}}
						{{{html-button-search}}}
						{{{html-button-search-fallback}}}
					</form>
				</div>
			</div>-->
            <div class="search pure-u-1-6">
                <form action="{{form-action}}" id="searchform">
                    <input type="text" name="query">
                    <input type="hidden" name="title" value="{{page-title}}">
                    <i class="fas fa-search"></i>
                </form>
            </div>
{{/data-search-box}}

        </ul>

    </div>
</nav>
