<nav id="top-bar">
  <div class="pure-menu-horizontal pure-menu">
    <ul class="pure-g pure-menu-list">
      <a
        class="pure-u-1-12"
        href="https://snap.berkeley.edu"
        aria-label="Snap! home page"
        ><img
          src="https://static.miraheze.org/snapwikiwiki/d/dd/Topbar-logo.png"
          class="logo clickable"
      /></a>
      <span class="pure-u-5-12">
        <li class="pure-menu-item">
          <a
            localizable=""
            class="pure-menu-link run"
            target="_blank"
            href="https://snap.berkeley.edu/snap/snap.html"
            >Run Snap<em>!</em></a
          >
        </li>
        <li class="pure-menu-item">
          <a
            localizable=""
            class="pure-menu-link explore"
            href="https://snap.berkeley.edu/explore"
            >Explore</a
          >
        </li>
        <li class="pure-menu-item">
          <a
            localizable=""
            class="pure-menu-link forum"
            href="https://forum.snap.berkeley.edu/"
            >Forum</a
          >
        </li>
        <!--   =======   Snap!Con   =======<li class="pure-menu-item"><a localizable class="pure-menu-link" target="_blank"href="https://www.snapcon.org">Snap<em>!</em>Con</a></li>-->
      </span>
      {{#data-search-box}}
      <div class="search pure-u-1-6">
        <form action="{{form-action}}" id="searchform">
          <input type="text" name="query" />
          <input type="hidden" name="title" value="{{page-title}}" />
          <i class="fas fa-search"></i>
        </form>
      </div>
      {{/data-search-box}}
      <li
        class="pure-menu-item pure-u-1-6 pure-menu-has-children pure-menu-allow-hover user-menu"
      >
        <a class="pure-menu-link visitor clickable"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            class="mw-snapwikiskin-icon"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"
            /></svg
        ></a>

        <ul class="pure-menu-children">
          {{#data-portlets.data-namespaces}} {{{html-items}}}
          {{/data-portlets.data-namespaces}} {{#data-portlets.data-views}}
          {{{html-items}}} {{/data-portlets.data-views}}
          {{#data-portlets.data-actions}} {{{html-items}}}
          {{/data-portlets.data-actions}}
        </ul>
      </li>

      <li
        class="pure-menu-item pure-u-1-6 pure-menu-has-children pure-menu-allow-hover user-menu"
      >
        <a class="pure-menu-link visitor clickable"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            class="mw-snapwikiskin-icon"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"
            /></svg
        ></a>

        <ul class="pure-menu-children">
          {{#data-portlets.data-personal}} {{{html-items}}}
          {{/data-portlets.data-personal}}
        </ul>
      </li>
    </ul>
  </div>
</nav>
