{{> Nav }}
<main class="mw-snapwikiskin-main">
	<div id="mw-snapwikiskin-sidebarContainer">
		<div id="mw-portlets" {{{html-user-language-attributes}}}>
		<a href="{{link-mainpage}}"><img src="{{data-logos.1x}}"></a>
		{{! START portlet }}
		{{#data-portlets-sidebar}}
			{{#data-portlets-first}}{{>Portlet}}{{/data-portlets-first}}
			{{#array-portlets-rest}}
				{{>Portlet}}
			{{/array-portlets-rest}}
		{{/data-portlets-sidebar}}
		{{#data-portlets.data-languages}}{{>Portlet}}{{/data-portlets.data-languages}}
		{{! END portlet }}
		</div>
	</div>


	<div id="mw-contentwrapper">
	{{>Header}}
		{{>Content}}
	</div>
</main>
{{>Footer}}
