{{> Nav }}
<div class="mw-snapwikiskin-main">
<div id="mw-main">
<div id="mw-header">
	<div class="mw-indicators mw-body-content">
		{{#array-indicators}}
			<div id="{{id}}" class="{{class}}">{{{html}}}</div>
		{{/array-indicators}}
	</div>
	<h1 id="mw-snapwikiskin-firstHeading" {{{html-user-language-attributes}}}>{{{html-title}}}</h1>
</div>
	<div id="mw-contentwrapper">
		{{>Content}}
	</div>
	<div id="mw-portlets" {{{html-user-language-attributes}}}>
	<div id="mw-snapwikiskin-sidebarContainer">
		<a href="{{link-mainpage}}"><img src="{{data-logos.1x}}"></a>
		<!-- portlets -->
		{{#data-portlets-sidebar}}
			{{#data-portlets-first}}{{>Portlet}}{{/data-portlets-first}}
			{{#array-portlets-rest}}
				{{>Portlet}}
			{{/array-portlets-rest}}
		{{/data-portlets-sidebar}}
		{{#data-portlets.data-languages}}{{>Portlet}}{{/data-portlets.data-languages}}
		</div>
	</div>
</div>
</div>
{{! "role="contentinfo"" is needed for a VoiceOver bug }}
<footer id="footer" class="mw-footer" role="contentinfo" {{{html-user-language-attributes}}}>
	{{#data-footer}}
			{{>Footer}}
		{{#data-icons}}
			{{#array-items}}
				<div id="{{id}}">{{{html}}}</div>
			{{/array-items}}
		{{/data-icons}}
	{{/data-footer}}
</footer>
