{{! "role="contentinfo"" is needed for a VoiceOver bug. See https://bugs.webkit.org/show_bug.cgi?id=146930 and https://developer.mozilla.org/en-US/docs/Web/HTML/Element/footer#accessibility_concerns. }}<footer class="mw-footer" role="contentinfo" {{{html-user-language-attributes}}}>{{#data-footer}}<div id="footer-info">{{#data-info}} {{#array-items}} <span id="{{id}}">{{{html}}}</span> {{/array-items}} {{/data-info}}</div><div id="footer-places">{{#data-places}} {{#array-items}} <span id="{{id}}">{{{html}}}</span> {{/array-items}} {{/data-places}}</div>{{#data-icons}} {{#array-items}}<div id="{{id}}">{{{html}}}</div>{{/array-items}} {{/data-icons}} {{/data-footer}}</footer>