<header class="mw-header"><div class="mw-indicators mw-body-content">{{#array-indicators}}<div id="{{id}}" class="{{class}}">{{{html}}}</div>{{/array-indicators}}</div><h1 id="firstHeading" {{{html-user-language-attributes}}}>{{{html-title}}}</h1></header>